.deck-collection-page {
  height: 100vh;
  padding: 5em 1.5em 100% 1.5em;

  & h1 {
    font-weight: 900;
    letter-spacing: 0.3em;
    font-size: 20px;
    position: relative;
    margin-top: 12vh;
  }
  & h1::before {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    content: '';
    background-color: var(--text-color);
    margin-top: 20px;
  }

  & .decks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: clamp(12px, 4vw, 32px);
    padding: clamp(12px, 4vw, 32px);
  }

  & .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
    gap: clamp(5px, 2vw, 16px);
    padding: clamp(12px, 4vw, 32px);
  }
  & .tags {
    display: flex;
  }
  & .tag {
    margin-left: 0.4em;
  }

  & .deck-content {
    all: unset;
    cursor: pointer;
    padding: 10px 35px;
    border-radius: 20px;
    display: block;
    transition: background-color .2s ease;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
  }
  & .deck-content:hover {
    background-color: var(--sub-color);
  }

  & .card-content {
    all: unset;
    cursor: pointer;
    border: 1px solid var(--text-color);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    transition: background-color .2s ease;
    background-color: var(--background-color);
  }
  & .card-content:hover {
    background-color: var(--sub-color);
  }

  & .card-content::before, .card-content::after {
    content: '';
    width: 99%;
    height: 2px;
    background-color: var(--background-color);
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  & .card-content::before {
    top: -2px;
  }
  & .card-content::after {
    bottom: -2px;
  }

  & h2, p {
    margin: 0;
  }
}

.edit-popup {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(width < 480px){
  .edit-popup-content {
    width: 90%;
  }
}
@media(480px <= width < 640px){
  .edit-popup-content {
    width: 70%;
  }
}
@media(640px <= width < 960px){
  .edit-popup-content {
    width: 60%;
  }
}
@media(960px <= width < 1280px){
  .edit-popup-content {
    width: 50%;
  }
}
@media(1280px <= width){
  .edit-popup-content {
    width: 40%;
  }
}
@media(height < 540px){
  .edit-popup-content {
    height: 50%;
  }
}
@media(540px <= height < 820px){
  .edit-popup-content {
    height: 40%;
  }
}
@media(820px <= height){
  .edit-popup-content {
    height: 20%;
  }
}

.edit-popup-content {
  background-color: var(--background-color);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  & .top-content {
    display: block;
    width: 100%;
  }

  & .title {
    background-color: var(--sub-color);
    border-radius: 8px;
    justify-items: center;
    width: 100%;
  }

  & .buttons {
    margin: 0 auto;
  }
}

.save-button, .cancel-button {
  all: unset;
  margin: .2em 1em;
  border: 1px solid var(--text-color);
  cursor: pointer;
  padding: 0 1em;
  border-radius: 2em;
  background-color: var(--background-color);
  transition: background-color .2s ease;
}
.save-button {
  border-color: var(--accent-color);
}
.save-button:hover {
  background-color: var(--accent-color);
}
.cancel-button {
  
}
.cancel-button:hover {
  background-color: var(--sub-color);
}