@media (width < 1080px) {
  .topic-roulette-page {
    width: 90vw;
  }
}
@media (1080px <= width) {
  .topic-roulette-page {
    width: 960px;
  }
}

.topic-roulette-page {
  max-width: 960px;
  padding-top: 8em;
  height: 100vh;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin: auto;

  & h1 {
    font-weight: 900;
    letter-spacing: 0.3em;
    font-size: 20px;
    position: relative;
  }

  & .filtering {
    margin-top: 3em;
  }

  & .roulette-content {
    margin-top: 40px;
  }

  & .view-topic {
    margin: auto;
  }
  & .view-topic-area {
    border-top: 0.1px solid var(--text-color);
    border-bottom: 0.1px solid var(--text-color);
    margin: 2em 0 1.5em 0;
    height: 10em;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  & .filtering-menu {
    display: flex;
  }

  & .filtering-toggle-ui {
    display: flex;
    align-items: center;
  }
}

.tag-filter, .tag-content {
  display: flex;
  align-items: center;
}

.tag-content {
  margin: 0 .5vw;
}

.filtering-toggle-button {
  margin: 20px 0.5em;
  position: relative;
  width: 30px;
  height: 15px;

  border-radius: 5px;
  border: 0.1px solid var(--text-color);
  cursor: pointer;
}

.filtering-toggle-button::after {
  position: absolute;
  margin-top: 2px;
  width: 3px;
  height: 12px;
  left: 5px;
  background-color: var(--accent-color);
  border-radius: 20px;
  content: '';
  transition: left .4s ease;
}

.filtering-toggle-button:has(:checked)::after {
  left: 22px;
}

.filtering-toggle-button input {
  appearance: none;
}