@media (width < 1080px) {
  .topic-roulette-page {
    width: 90vw;
  }
}
@media (1080px <= width) {
  .topic-roulette-page {
    width: 960px;
  }
}

.topic-roulette-page {
  max-width: 960px;
  padding-top: 8em;
  height: 100vh;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin: auto;

  & h1 {
    font-weight: 900;
    letter-spacing: 0.3em;
    font-size: 20px;
    position: relative;
  }

  & .roulette-content {
    margin-top: 40px;
  }

  & .view-topic {
    margin: auto;
  }
  & .view-topic-area {
    border-top: 0.1px solid var(--text-color);
    border-bottom: 0.1px solid var(--text-color);
    margin: 2em 0 1.5em 0;
    height: 10em;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}