
@media (width < 960px) {
  .top-page {
    width: 90vw;
  }
}
@media (960px <= width) {
  .top-page {
    width: 960px;
  }
}

.top-page {
  padding-top: 8em;
  display: flex;

  & .content-name {
    font-size: 30px;
    letter-spacing: 0.2em;
    padding-right: 0.4em;
    display: block;
    width: 1em;
    height: 100%;
    margin-top: 70px;
    & p {
      writing-mode: vertical-lr;
    }

    & .quick-start {
      padding-bottom: 70px;
    }
    & .about {
      margin-top: 150px;
    }
  }
}
.top-page-content {
  border-left: 1px solid var(--text-color);
  max-width: 960px;
  display: block;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 0.2em;
  margin: 0 auto;
  padding: 0 1.5em 20em 1.5em;

  & .logo {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    color: var(--accent-color);
  }
  & h1{
    margin: 0em;
  }
  & .one-line{
    display: flex;
  }

  & .information {
    margin-top: 150px;
  }

  & .quick-start-content {
    margin-top: 70px;
  }
  & .quick-start {
    margin: 0;
    padding: 0 0 0.15em 0;
    line-height: 0.75em;
    border-left: 5px solid var(--accent-color);
  }
  & p.quick-start {
    padding-left: 5px;
  }

  & .view-topic {
    margin: auto;
  }
  & .view-topic-area {
    border-top: 0.1px solid var(--text-color);
    border-bottom: 0.1px solid var(--text-color);
    margin: 2em 0 1.5em 0;
    height: 10em;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.click-button-color, .click-button-border {
  z-index: 1;
  all: unset;
  cursor: pointer;
  padding: 0.2em 2em;
  margin: 1em 0 0 2em;
  border-radius: 20em;
  position: relative;
  overflow: hidden;
}

.click-button-color{
  color: var(--light-theme-text-color);
  background-image: linear-gradient(45deg, #84fab0 0%, #8fd3f4 100%);
  box-shadow: var(--accent-color) 0 0 20px -5px;
  transition: box-shadow .5s ease-out;
}

.click-button-color:hover{
  box-shadow: none;
}

.click-button-border {
  border: 1px solid var(--accent-color);
}

.click-button-border::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 100%;
  background-color: var(--accent-color);
  content: '';
  transition: width .2s ease-out;
}

.click-button-border:hover::before {
  width: 100%;
}

.click-button-border.back-button {
  border-color: var(--text-color);
}
.click-button-border.back-button::before {
  border-color: var(--text-color);
  background-color: var(--text-color);
}